<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>Test.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>text</servlet-name>
        <servlet-class>com.Controllar.text</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>com.Controllar.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.Controllar.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistration1</servlet-name>
        <servlet-class>com.Controllar.UserRegistration1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin1</servlet-name>
        <servlet-class>com.Controllar.UserLogin1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdate</servlet-name>
        <servlet-class>com.Controllar.UserUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginElectition</servlet-name>
        <servlet-class>com.Controllar.LoginElectition</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>text</servlet-name>
        <url-pattern>/text</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistration1</servlet-name>
        <url-pattern>/UserRegistration1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin1</servlet-name>
        <url-pattern>/UserLogin1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdate</servlet-name>
        <url-pattern>/UserUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginElectition</servlet-name>
        <url-pattern>/LoginElectition</url-pattern>
    </servlet-mapping>
</web-app>
